<app-header></app-header>
<div class="container-fluid mt-4">
<!--  <div class="col-md-5">-->
<!--<app-type-item></app-type-item>-->

  <div class="col-md-10">

    <app-types-list></app-types-list>



</div>



</div>


<!--    <app-types-list></app-types-list>-->

<!--<app-table-example></app-table-example>-->


<!--<mat-card>Simple card</mat-card>-->
<!--<div class="container-fluid mt-4">-->

<!--<div class="col col-md-4">-->

<!--<mat-form-field appearance="fill">-->
<!--  <mat-label>Input</mat-label>-->
<!--  <input matInput>-->
<!--</mat-form-field>-->
<!--<mat-form-field appearance="fill">-->
<!--  <mat-label>Select</mat-label>-->
<!--  <mat-select>-->
<!--    <mat-option value="one">First option</mat-option>-->
<!--    <mat-option value="two">Second option</mat-option>-->
<!--  </mat-select>-->
<!--</mat-form-field>-->
<!--<mat-form-field appearance="fill">-->
<!--  <mat-label>Textarea</mat-label>-->
<!--  <textarea matInput></textarea>-->
<!--</mat-form-field>-->


